[flake8]
select = B,B9,C,D,DAR,E,F,N,RST,S,W
ignore = D401,E203,E501,RST201,RST203,RST301,RST305,W503
max-line-length = 120
max-complexity = 10
docstring-convention = numpy
per-file-ignores = tests/*:B950,D100,D102,D103,D104,D401,D101,D200,S101,S106,F403,F405,F841
    pypdf_table_extraction/*:D100,D103,D104,F401,W0611,C0114 docs/*:D100,D101
    __init__.py:D100,D103,D104,F401
    __version__.py:D100
    __main__.py:D100,D103
rst-roles = class,const,func,meth,mod,ref
rst-directives = deprecated
