sphinx==7.3.7
sphinx-book-theme>=1.0.1
sphinx-click==5.0.1
myst_parser==4.0.0
ghostscript==0.7
opencv-python==4.8.1.78
matplotlib==3.8.0
accessible-pygments==0.0.5 
pydata-sphinx-theme==0.15.4
sphinx-copybutton==0.5.2
sphinx-prompt==1.8.0
