sphinx==8.2.1
sphinx-book-theme>=1.0.1
sphinx-click==6.0.0
myst_parser==4.0.0
ghostscript==0.7
opencv-python-headless==4.10.0.84
matplotlib==3.10.0
accessible-pygments==0.0.5
pydata-sphinx-theme==0.16.1
sphinx-copybutton==0.5.2
sphinx-prompt==1.9.0
